#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp N1  &kp N2     &kp N3    &kp N4    &kp N5       &kp N6    &kp N7  &kp N8     &kp N9    &kp N0    &kp BACKSPACE
&kp GRAVE  &kp Q   &kp W      &kp E     &kp R     &kp T        &kp Y     &kp U   &kp I      &kp O     &kp P     &kp RET
&kp TAB    &kp A   &kp S      &kp D     &kp F     &kp G        &kp H     &kp J   &kp K      &kp L     &kp SEMI  &kp APOS
&kp LSHFT  &kp Z   &kp X      &kp C     &kp V     &kp B        &kp N     &kp M   &kp COMMA  &kp DOT   &kp UP    &kp RSHFT
&kp CAPS   &mo 1   &kp LCTRL  &kp LALT  &kp LGUI  &kp SPACE    &kp RGUI  &mo 1   &kp FSLH   &kp LEFT  &kp DOWN  &kp RIGHT
            >;
        };

        lower_layer {
            bindings = <
&trans  &trans  &trans      &trans        &trans        &trans    &kp LA(LS(RIGHT_BRACKET))  &kp LA(LEFT_BRACKET)  &kp LS(LA(LEFT_BRACKET))  &kp LS(N9)      &kp LS(N0)  &kp DEL
&trans  &trans  &kp C_PREV  &kp C_PP      &kp C_NEXT    &trans    &kp LA(MINUS)              &kp LEFT_BRACE        &kp RIGHT_BRACE           &kp UNDER       &kp PLUS    &kp PSCRN
&trans  &trans  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &trans    &kp PIPE                   &kp LBKT              &kp RBKT                  &kp MINUS       &kp EQUAL   &kp F11
&trans  &trans  &trans      &trans        &trans        &trans    &trans                     &trans                &kp LS(COMMA)             &kp LS(PERIOD)  &kp PG_UP   &kp F12
&trans  &trans  &trans      &trans        &trans        &trans    &trans                     &trans                &kp BSLH                  &kp HOME        &kp PG_DN   &kp END
            >;
        };
    };
};
